.home-screen {
  background-image: url(/images/frame.webp);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  color: white !important;
  margin: auto;
  overflow: hidden !important;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  user-select: none;
  height: 100vh;
  width: 100vw;
  max-height: 5.81in;
  max-width: 2.82in;
}
.cameraNotch {
  position: absolute;
  top: 15px;
  height: 25px;
  width: 85px;
}
.screenWallpaper {
  background-image: url(/images/wallpaper.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 91%;
  height: 99%;
  overflow: hidden !important;
  border-radius: 35px;
  padding: 5px;
  margin: 8px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  transition: filter 0.3s ease;
}
.screen-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 2px 5px 10px;
  width: 100%;
}
.screen-header > div span {
  padding: 3px;
  font-size: 12px;
}
.appImage {
  height: 35px;
  width: 35px;
}
.appTitle {
  font-size: 12px;
}
.appItemEach {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100%;
}
.appLists {
  margin-top: 3vh;
  padding: 0 10px;
}
.speedApps {
  background-color: rgb(95 140 135 / 64%);
  width: 98%;
  padding: 8px 15px;
  border-radius: 42px;
  margin: auto 12px 5px 12px;
}

.notification-section {
  position: absolute;
  top: 0;
  width: 91%;
  padding: 0px;
  background-color: #443b3b;
  transform: translateY(-100%);
  transition: transform 0.5s ease;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  border-radius: 30px;
  overflow: hidden;
  overflow: hidden !important;
}

.show-notifications .screenWallpaper {
  filter: blur(2px);
}

.show-notifications .notification-section {
  transform: translateY(0%);
  top: 10px;
}
.notificationSection {
  height: 98%;
  position: relative;
  display: flex;
  justify-content: center;
}
